@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
    background: #eff3f8;
}
.toggle {
    font-size: 30px;
    color: #fff;
    float: left;
    line-height: 45px;
    margin-left: 5%;
    cursor: pointer;
    display: none;
}
nav {
    background-color: #000000;
    height: 45px;
    width: 100%;
}
ul{
    float: left;
    margin-left: 5%;
}
ul li {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
}
ul li a {
    font-size: 12px;
    font-weight: 400;
    line-height: 45px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
}
ul li:first-child{
    background-color: #FF7D00;
}
ul li:hover{
    background-color: #FF7D00;
    color: #fff;
}
.socialtop {
    float: left;
    margin-left: 5%;
}
.top-social {
    padding: 14px 15px;
}
.top-social a{
    padding: 13px;
    color: #fff;
}
.top-social a:hover{
    color: #FF7D00;
}

@media screen and (max-width: 1052px){
    .toggle{
        display: block;
    }
    ul{
        position: fixed;
        top: -400px;
        z-index: -1;
        margin-top: -15px;
        right: 0;
        left: 0;
        width: 200px;
        background-color: #222222;
        display: inline-block;
        transition: top .4s;
        margin-left: 0;
    }
    ul.show{
        top: 60px;
    }
    ul li{
        top: 0;
        width: 100%;
        float: left;
        text-align: center;
    }

}
@media screen and (max-width: 800px){
    ul{
        width: 100%;
    }
}
.container {
    padding-top: 150px;
}
h2 {
    text-align: center;
    padding: 20px;
}
.slick-slide {
    margin: 0 20px;
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-slider img {
    width: 100%;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-slide img {
    display: block;
}
.slick-initialized .slick-slide {
    display: block;
}
.copy{
    padding-top: 250px;
}